<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
    </head>

    <body>
    <nav class="mobilescreen">
      <div title="Menu" id="menuToggle">
        <input id="checkbox" type="checkbox">
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
        <li><a id="recipe-nav" class="nav-button" href="/recipes">Recipes</a></li>
        <li><a id="profile-nav" class="nav-button" href="/profiles">Profiles</a></li>
        <% if (user) { %>
          <li><a id="add-nav" class="nav-button" href="/recipes/new">Add a Recipe</a></li>
          <li><a class="nav-button" href="/auth/logout"> Logout</a></li>
          <% } else { %>
          <li class="nav-button-google"> <a href="/auth/google" class="siwg-link"></li>
              <button type="submit" class="siwg">
                <img id="siwg-image" alt="Sign in with Google" />
              </button> 
            </a>
            <% } %>
                    </ul>
                    </div>
      </nav>

      