<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<main>
  <div class="flex-container">
    <section id="welcome">
  <h1>Hope You're Hungry <%= user ? user.profile.name : "Human" %>!</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <form action="recipes/random" method="GET">
        <button class="btn" type="submit">Random Recipe</button>
      </form>
    </div>
  <% } %>
<section>
  </section>
  </div>
  </main>

<%- include('./partials/footer') %>
