<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="welcome-container">
    <section id="welcome">
      <img src="https://i.ibb.co/jMxNrcj/Screen-Shot-2021-11-09-at-10-31-41-AM-removebg-preview.png" class="logo">
  <h1>Hope You're Hungry <%= user ? user.profile.name : "Human" %>!</h1>
  <% if (user?.profile.avatar) { %>
    
      <form action="/recipes/random" method="GET">
        <button id="random" class="recipe-btn" type="submit">Click for Random Recipe</button>
      </form>
  <% } %>
  </section>
  </div>
  </main>

<%- include('./partials/footer') %>
