
nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
}

body {
text-align: center;
  background-color: #eaeaea;
}

.container{
  display: flex;
  align-items: center;
  padding: 20px;
}

#welcome{
  margin: 10vh;
  background-color: #eaeaea;
  border: 1px solid #ececec;
  height: 80vh;
  border-radius: 10px;
  background-image: url('https://i.ibb.co/mNYk7hw/HF-Illustrations-Homepage-DE-v2-03.webp');
  background-repeat: no-repeat;
  background-size: 45vw;
  background-position: 100% 50%;
  position: relative;
}

#welcome h1{
  font-family: "futura-pt";
  position: absolute;
  font-weight: 800;
  font-size: 6vw;
  width: 50%;
  margin: 0;
  line-height: 1;
  top: 50%;
  color: #333;
  left: 4%;
  transform: translate(0, -50%);
}

p{
  margin: 0;
}
a:link, a:visited {
  background-color: rgb(121, 144, 121);
  color: white;
  border: 2px solid rgb(121, 144, 121);
  border-radius: 25%;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(74, 96, 74);
  color: white;
}

ul {
  text-align: center;
  list-style: none;
}